.about {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url("../images/image-about.webp");
    block-size: 22rem;
}

.wrapper-about {
    inline-size: 83rem;
    block-size: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.wrapper-about h2 {
    text-align: center;
    font-size: 2.8rem;
    color: var(--primary);
}

.wrapper-about p {
    text-align: justify;
    font-size: 1.3rem;
    color: var(--white);
}

.wrapper-about > * {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .wrapper-about h2 {
        font-size: 4rem;
    }

    .wrapper-about p {
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 768px) {
    .about {
        block-size: 26rem;
    }

    .wrapper-about h2 {
        font-size: 6rem;
    }

    .wrapper-about p {
        font-size: 1.7rem;
        padding-block-end: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .about {
        block-size: auto;
    }

    .wrapper-about h2 {
        font-size: 10rem;
    }

    .wrapper-about p {
        font-size: 2.4rem;
        padding-block-end: 2rem;
    }
}