.ultimate-footer {
    background-color: #1c1c1c;
}

.black-footer {
    display: flex;
    justify-content: space-between;
    block-size: 3.3rem;
    align-items: center;
    box-sizing: border-box;
    inline-size: 81rem;
    margin: auto;
}

.black-footer p {
    color: grey;
    font-size: .9rem;
}

.black-footer img {
    block-size: 1.3rem;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .black-footer p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 425px) {
    .black-footer {
        padding-top: 2rem;
        padding-bottom: 2rem;
        block-size: auto;
    }

    .black-footer p {
        font-size: 2rem;
    }

    .black-footer img {
        block-size: 2.8rem !important;
    }

}