.designer-content {
    inline-size: 83rem;
    margin: auto;
}

.designer-content .dis {
    margin: 3rem 0;
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: bold;
}

.content-description img {
    cursor: pointer;
    transition: .3s;
}

.content-description img:hover {
    transform: scale(1.03);
}

.content-description .name {
    font-size: 1.7rem;    
    font-weight: bold;
}

.content-description .description {
    font-size: 2rem;
    color: rgb(130, 59, 16);
    font-weight: bold;
}

.flex-three {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-three img {
    inline-size: 15rem;
    block-size: 18rem;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .designer-content .dis {
        font-size: 4rem;
    }

    .flex-three img {
        inline-size: 19rem;
        block-size: 21rem;
    }

    .content-description .name {
        font-size: 2.2rem;
    }

    .content-description .description {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 768px) {
    .content-description img {
        inline-size: 25rem;
    }

    .content-description .name,
    .content-description .description {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .content-description {
        text-align: center;
    }
    
    .content-description img {
        inline-size: 36rem;
        block-size: 39rem;
    }

    .designer-content .dis {
        font-size: 7rem;
    }

    .content-description .name,
    .content-description .description {
        text-align: center;
    }

    .content-description .name {
        font-size: 4rem;
    }

    .content-description .description {
        font-size: 3.7rem;
    }

}