.products-special {
    inline-size: 100%;
    block-size: auto;
    margin-top: 7rem;
    background-color: rgb(60, 58, 58);
}

.wrapper-special {
    inline-size: 83rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
    padding-block-end: 10rem;
    /* rgba(108,43,2,1) 52% */
}

.products-special div img {
    inline-size: 28rem;
    block-size: 16rem;
    aspect-ratio: 2 / 1;
    vertical-align: middle;
    border-radius: 5%;
    box-sizing: border-box;
    cursor: pointer;
    transition: .15s;
} 

.products-special div img:hover {
    opacity: .6;
}

.wrapper-special .odd {
    display: flex;
    justify-content: space-between;
}

.wrapper-special .pair {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.right-row h3 {
    font-size: 3rem;
    color: var(--primary);
}

.right-row p {
    font-size: 1.29rem;
    color: rgb(189, 189, 189);
}

.wrapper-special h2 {
    font-size: 3.5rem;
    color: var(--primary);
    text-align: center;
} 

@media screen and (max-width: 1024px) {
    .wrapper-special .odd,
    .wrapper-special .pair {
        gap: 3rem;
    }

    .wrapper-special h2 {
        font-size: 4.4rem;
    }

    .products-special div img {
        aspect-ratio: none;
        inline-size: 30rem;
        block-size: 24rem;
    }

    .right-row h3 {
        font-size: 3.5rem;
    }

    .right-row p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-special .odd,
    .wrapper-special .pair {
        justify-content: center;
        gap: 1.3rem;
    } 
}

@media screen and (max-width: 425px) {
    .wrapper-special h2 {
        font-size: 7rem;
    }
    
    .wrapper-special .odd,
    .wrapper-special .pair {
        align-items: center;
        flex-direction: column;
    }

    .wrapper-special .odd img,
    .wrapper-special .pair img {
        inline-size: 65rem;
        block-size: 55rem;
    }

    .right-row h3 {
        text-align: center;
        font-size: 4.9rem;
    }

    .right-row p {
        font-size: 3.5rem;
        text-align: center;
    }
}


