.info-content {
    inline-size: 81rem;
    margin: auto;
    block-size: 100%;
}

.info-content h2 {
    color: var(--primary);
    font-size: 4rem;
}

.info-content p {
    font-size: 1.7rem;
    color: rgb(55, 55, 55);
}

@media screen and (max-width: 1024px) {
    .info-content h2 {
        color: var(--primary);
        font-size: 4.8rem;
    }
    
    .info-content p {
        font-size: 2rem;
        color: rgb(55, 55, 55);
    }
}

@media screen and (max-width: 768px) {
    .info-content h2 {
        color: var(--primary);
        font-size: 5rem;
        text-align: center;
    }
    
    .info-content p {
        font-size: 2rem;
        color: rgb(55, 55, 55);
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .info-content h2 {
        color: var(--primary);
        font-size: 9rem;
        text-align: center;
    }
    
    .info-content p {
        font-size: 4rem;
        color: rgb(55, 55, 55);
        text-align: center;
    }
}