@import "./content-gallery.css";
@import "./information.css";
@import "./icon.css";
@import "./footer.css";
@import "./black-footer.css";

:root {
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  --primary: #8f4e04;
  --black: #000000;
  --white: #ffffff;
  --gray: #cccccc;
  --smoke: #F2EDE7;
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

.header {
  inline-size: 100%;
  block-size: auto;
}
  
.header .principal-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 12 / -1;
  gap: 2rem;
}
  
.header .principal-navigation .container-navigation {
  display: flex;
  gap: 3rem;
  padding: 0;
  justify-content: space-evenly;
}
  
.principal-logo {
  inline-size: 13rem;
  vertical-align: middle; 
  margin-block-start: .1rem;
}
  
.wrapper-header {
    inline-size: 83rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12 , auto);
    align-items: center;
}
  
.container-navigation li {
    list-style: none;
}
  
.container-navigation li a {
    color: grey;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    transition: .1s;
    font-weight: bold;
}

li .gallery{
    color: var(--primary) !important;
    border-bottom: 0.2rem solid var(--primary);
}
  
.container-navigation li a:hover {
    color: var(--primary);
    border-bottom: 0.2rem solid var(--primary);
}
  
.principal-navigation a {
    color: var(--black);
    text-decoration: none;
}
  
.principal-navigation a:hover {
    color: var(--primary);
}
  
.principal-navigation span {
    color: var(--gray);
    font-size: 1.4rem;
}
  
.login {
    background-color: var(--primary);
    padding: .8rem 3rem;
    border-radius: 3rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: .8rem;
    transition: .2s;
    box-sizing: border-box;
}
  
.login:hover {
    background: var(--white);
    color: var(--primary);
    border: 2px solid var(--primary);
}
  
.login a {
    font-size: .9rem;
    color: var(--white);
}
  
.icon-icon-hamburguer-button {
    display: none;
}

@media screen and (max-width:1024px) {
    :root {
      font-size: 12px;
    }
  
    .principal-logo {
      inline-size: 14rem;
    }

    .principal-logo img {
      margin: 0;
    }
  
    .container-navigation li a {
      font-size: 2rem;
    }
  
    .login a {
      font-size: 1.17rem;
    }
  }
  
  @media screen and (max-width:768px) {
    :root {
      font-size: 9px !important;
    }
  
    .wrapper-header a {
      grid-column: 1 / 4;
    }
  
    .principal-logo {
      inline-size: 16rem;
    }
  
    .principal-navigation {
      grid-column: 11 / 12 !important;
      position: relative;
    }
  
    .principal-navigation span {
      display: none;
    }
  
    .login a {
      font-size: 1.35rem;
    }
  
    .icon-icon-hamburguer-button {
      display: inline-block;
      font-size: 3.5rem;
      color: var(--primary);
    }  
  
    .container-navigation {
      position: absolute;
      width: 100%;
      height: 70vh;
      display: grid !important;
      align-items: center;
      background-color: var(--primary);
      margin-block-start: 40rem;
      display: none !important;
    }
  }
  
  @media screen and (max-width:425px) {
    :root {
      font-size: 5px !important;
    }
  
    .principal-logo {
      inline-size: 24rem;
    }
  
    .wrapper-header a {
      grid-column: 1 / 7;
    }
  
    .principal-navigation {
      grid-column: 11 / 12 !important;
      
    }
  
    .principal-navigation .icon-icon-search,
    .icon-shopping-cart{
      font-size: 3.4rem;
    } 
    
    .login {
      padding: 1.3rem 5rem !important;
      margin-inline-end: 1.3rem;
    }
  
    .login a {
      font-size: 1.8rem;
    }
  
    .icon-icon-hamburguer-button {
      font-size: 7rem;
      margin-right: 1rem;
    }
  }
  
  @media screen and (max-width: 375px) {
    :root {
      font-size: 4px!important;
    }
  }