@media (max-width: 1440px) {
    :root {
        font-size: 15px !important;
    }
}

@media (max-width: 1024px) {
    :root {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 12px !important;
    }
}

@media (max-width: 425px) {
    :root {
        font-size: 10px !important;
    }
}

@media (max-width: 320px) {
    :root {
        font-size: 8px !important;
    }
}